.spoiler 
{
    background-color: black;
    color: black;
}

.spoiler:hover
{
    background-color: #E9E9DF;
}

h1{
    font-size: 64px;
    font-weight: 300;
}

p:first-of-type{
    position: relative;
    top: -50px;
}

p:nth-of-type(4), ul{
    line-height: 0;
    position: relative;
    top: 10px;
}

p:nth-of-type(3){
    line-height: 1.4;
    position: relative;
    top: -10px;
}

p:last-of-type{
    position: relative;
    top: 40px;
    word-spacing: 20px;
    left: -10px;
}

ul{
    position: relative;
    left: -15px;
    display: table;
    margin: 0 auto;
}

h1, p{
    text-align: center;
}

*{
  font-family:"Calibri","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  color: #161616;
  line-height: 1.2;
}
